{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">logout</a></p>
        <p><a href="{% url 'create_business' %}">Crear Establecimiento</a></p>
        <a href="{% url 'create_business' %}" class="button">Go to Google</a>
        {% if businesses %}
            {% for business in businesses %}
                <ul>
                    <li>{{business.name}}</li>
                    <li>{{business.hours}}</li>
                    <li><a href="{% url 'detail_business' business.id %}">Ver más</a></li>
                    <li><a href="{% url 'delete_business' business.id %}">Borrar</a></li>
                    <li><a href="business/edit/{{business.id}}">Editar</a></li>
                </ul>
            {% endfor %}
        {% endif %}
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}