{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="card-title">Hi {{ user.username }}!</h1>
        <div>
            <p><a href="{% url 'logout' %}">logout</a></p>
            <p><a href="{% url 'create_business' %}">Crear Establecimiento</a></p>
        </div>
        {% if businesses %}
            {% for business in businesses %}

            <div class="row">
                    <div class="card mt-3" style="width: 18rem;">
                      <div>
                            <h5 class="card-title">{{business.name}}</h5>
                            <p class="list-group-item">{{business.hours}}</p>
                            <p class="list-group-item"><a href="{% url 'detail_business' business.id %}">Ver más</a></p>
                            <p class="list-group-item"><a href="{% url 'delete_business' business.id %}">Borrar</a></p>
                            <p class="list-group-item"><a href="business/edit/{{business.id}}">Editar</a></p>
                      </div>
                    </div>
            </div>
<!-- 
                    <h5 class="card-title">{{business.name}}</h5>
                    <p class="list-group-item">{{business.hours}}</p>
                    <p class="list-group-item"><a href="{% url 'detail_business' business.id %}">Ver más</a></p>
                    <p class="list-group-item"><a href="{% url 'delete_business' business.id %}">Borrar</a></p>
                    <p class="list-group-item"><a href="business/edit/{{business.id}}">Editar</a></p> -->
               
            {% endfor %}
        {% endif %}
    {% else %}
        <p>No has iniciado sesion, inicia sesion para revisar los lugares</p>
        <a href="{% url 'login' %}">Iniciar sesion</a>
    {% endif %}
{% endblock %}